/* Small devices (tablets, 768px and up) */
@media (max-width: 450px) { 
    .node-frontpage-slide
    {
        margin-left: 20px !important;
        margin-right: 20px !important;
        font-size: 36px !important;
       
    }
    .view-hp-events-glokationer .view-content .views-row .views-field
    {
        min-width: 296px !important;
        max-width: 296px !important;
        word-break: break-all;
    }
   #site-content .row .col-sm-12
   {
       padding-left: 2px !important;
       padding-right: 2px !important;
   }
   /*
   * Fix to make bootstrap behave in chrome emulator
   */
   .row
   {
       margin-left: 0px !important;
       margin-right: 0px !important;
   }
   #hp-read-news-frontpage-wrapper
   {
       margin-left:0px !important;
       margin-right: 0px !important;
   }
}
@media (min-width: 450px) and (max-width: 768px) { 
    .node-frontpage-slide
    {
        margin-left: 28px !important;
        margin-right: 28px !important;
        font-size: 57px !important;
    }
    #hp-read-news-frontpage-wrapper
    {
        margin-left:0px !important;
        margin-right: 0px !important;
    }
}