@media (min-width: 768px) and (max-width: 1023px) { 
    .node-frontpage-slide
    {
        margin-left: 20px !important;
        margin-right: 20px !important;
        font-size: 68px !important;
       
    }
    nav .menu
    {
        width: 42%;
    }
    .owl-nav
    {
        margin-left: 20px;
        margin-right: 20px;
    }
}
@media (min-width: 1024px) and (max-width: 1024px) { 
    .node-frontpage-slide
    {
        margin-left: 20px !important;
        margin-right: 20px !important;
        font-size: 72px !important;
       
    }
    nav .menu
    {
        width: 42%;
    }
    .owl-nav
    {
        margin-left: 20px;
        margin-right: 20px;
    }
}