/* Small devices (tablets, 768px and up) */
@media (max-width: 450px) { 
    #site-content
    {
        padding-left: 5px;
        padding-right: 5px;
    }
    .node-frontpage-slide
    {
        margin-left: 20px !important;
        margin-right: 20px !important;
        font-size: 35px !important;
       
    }
    .view-hp-events-glokationer .view-content .views-row .views-field
    {
        min-width: 264px !important;
        max-width: 264px !important;
        word-break: break-word;
    }
    .view-hp-events-glokationer .view-content .views-row
    {
        margin-right: 0px !important;
    }
   #site-content .row .col-sm-12
   {
       padding-left: 2px !important;
       padding-right: 2px !important;
   }
   /*
   * Fix to make bootstrap behave in chrome emulator
   */
   .row
   {
       margin-left: 0px !important;
       margin-right: 0px !important;
   }
   #hp-read-news-frontpage-wrapper
   {
       margin-left:0px !important;
       margin-right: 0px !important;
   }
   .navbar
   {
       min-height: 63px !important;
   }
   #absolute_center
   {
       top: 0px !important;
   }
   #absolute_center img
   {
       height: 80px !important;
   }
   .pane-hp-events h2
   {
       margin-left: 0px !important;
       margin-right: 0px !important;
   }
   .menu-name-menu-arrangement-menu
   {
       margin-bottom:10px;
   }
   .container-fluid
   {
       padding-right: 0px !important;
       padding-left: 0px !important;
   }
   .pane-menu-tree
   {
       margin-bottom: 10px;
   }
   .page-header
   {
       font-size: 25px !important;
   }
   .footer_logos img
   {
       //width: 100% !important;
       padding-top:15px !important;
       display:block !important;
       margin: auto auto !important;
   }
   .oc-my-hp-program-wrap a.oc-my-hp-program-button:hover
    {
        color: grey;
    }
    .view-hp-events-glokationer .view-header a
    {
        float:left !important;
    }
    .search_input_wrapper
    {
        width: 90% !important;
    }
}
@media (min-width: 450px) and (max-width: 768px) { 
    .node-frontpage-slide
    {
        margin-left: 28px !important;
        margin-right: 28px !important;
        font-size: 40px !important;
    }
    #hp-read-news-frontpage-wrapper
    {
        margin-left:0px !important;
        margin-right: 0px !important;
    }
    .navbar
   {
       min-height: 63px !important;
   }
   #absolute_center img
   {
       height: 80px !important;
   }
      #absolute_center
   {
       top: 0px !important;
   }
   .pane-hp-events h2
   {
       margin-left: 0px !important;
       margin-right: 0px !important;
   }
   .menu-name-menu-arrangement-menu
   {
       margin-bottom:10px;
   }
   .pane-menu-tree.pane-menu-tree
   {
       margin-bottom: 10px;
   }
   .footer_logos img
   {
       padding-top:15px !important;
       display:block !important;
       margin: auto auto !important;
   }
   .view-display-id-hp_events_my_program .views-field
   {
       float:left;
       width: 100%;
   }
   .oc-my-hp-program-wrap a.oc-my-hp-program-button:hover
    {
        color: grey;
    }
    .search_input_wrapper
    {
        width: 90% !important;
    }
    .views-field-field-event-category
    {
        width: 100%;
    }
}