/**
 * Place your custom styles here.
 */
@font-face {
    font-family: Caslon Antique Regular;
    src: url('/sites/all/themes/oc_harrypotter/fonts/CaslonAntique.ttf');
}
html, 
body {
  height: 100%;
  position: relative;
   font-family: Verdana, Geneva, sans-serif;
  
}
.breadcrumb{
    background-color: #000000 !important;
    
}
.breadcrumb li a
{
    color: #B4A486  !important;
}
.fa-map-marker::before {
    margin-left: 5px!important;
}
.fa-2x {
    float: left;
    font-size: 1.5em!important;
}
.well {
    border: none;
    background-color: transparent;
    background-image: url('/sites/all/themes/oc_harrypotter/images/transparent_brown.png');
}
.pane-glokationer {
    border: none;
    background-color: transparent;
    background-image: url('/sites/all/themes/oc_harrypotter/images/transparent_black.png');
}
.pane-glokationer .field-content > a {
    background-color: #b3a485;
    color: #000;
    font-weight: bold;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
}
.pane-glokationer .field-content > a::after {
    color: #96291d;
    content: "ï‹";
    float: right;
    display: inline-block;
    font-family: FontAwesome;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size: inherit;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-rendering: auto;
}
.icon-margin {
    margin-right: 1em;
    color: #be1e2d;
}
.btn-event {
  background-color: #be1e2d;
  border-color: #be1e2d;
  color: #ffffff;
}
.btn-event .field-item.even > a {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}
#site-content
{
    width: 100%;
    min-height: 90vh;
    margin-top:10px;
}
.footer
{
   color: #B4A486  !important;
   background-color: #000000;
   min-height: 200px;
   width: 100%;
   border-top: 0px solid black;
}
.region.region-top-left,.region.region-top-right{
    padding-top:10px;
}
.region.region-top-left
{
    font-size: 20px;
}
/*
* Panels with backgrounds
*/
.pane-hp-events
{
    background-image: url('/sites/all/themes/oc_harrypotter/images/transparent_black.png');
}
/*
* nav info header
*/
#nav-info-header{
    border-bottom: 1px solid grey;
    height: 60px !important;
    margin-left:5px;
}
/*
* Navbar modifications
*/
.navbar{
    margin-bottom:0px;
    border-radius: 0 !important;
    min-height: 130px;
    color: #B4A486  !important;
    font-size: 20px;
    background-color: #000000 !important;
}
.navbar-nav li
{
    padding-top: 10px;
}
.active-trail
{
    background-color: #000000 !important;
     text-decoration: underline;
}
.navbar a{
    color: #B4A486  !important;
}

#absolute_center {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}

.navbar-toggle {
    z-index:0;
}
#nav_menu_right{
    float:right;
    text-align: right;
}
.dropdown-menu
{
    background-color: #000000 !important;
}
.dropdown-menu > li > a:hover {
    background-color: #000000 !important;
    background-image: none;
}
/*
* Owl carousel styling
*/
.node-frontpage-slide
{
    text-align: center;
    background-image: url('/sites/all/themes/oc_harrypotter/images/transparent_black.png');
    margin-left: 20%;
    margin-right: 20%;
    color: #B4A486 !important;
    margin-top: 10vh;
    height: 400px;
    font-size: 70px;
    font-weight: bold;
    font-family: Caslon Antique Regular;
}
.node-frontpage-slide{
    color: #B4A486 !important;
}
.owl-controls{
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    bottom: 25px;
    position: relative;
}
.owl-controls .owl-dots {
    display: inline-block;
    
}
 .owl-controls .owl-dots span {
    border: 1px solid red;
    border-radius: 20px;
    display: block;
    height: 12px;
    margin: 5px 7px;
    opacity: 0.5;
    width: 12px;
}
.owl-dot
{
    float:left;
}
 .owl-controls .owl-dots .active span{
    background: none repeat scroll 0 0 red;
    
 }
 #hp-read-news-frontpage-wrapper
 {
    margin-left: 33%;
    margin-right: 33%;
    text-align: center;
    margin-top: 50px;

    
 }
  #hp-read-news-block a
  {
      color: #B4A486  !important;
  }
 #hp-read-news-block
 {
    background-image: url('/sites/all/themes/oc_harrypotter/images/transparent_black.png');
    padding-top: 10px;
    width: 195px;
    height: 50px;
    text-align: center;
    display: inline-block;
    font-size: 25px;
    
 }
 
/*
* Frontpage full page slide hacks.
*/
.bootstrap-twocol-stacked .row:nth-child(1)
{
    height: 90vh;
}
.bootstrap-twocol-stacked .row:nth-child(2)
{
    background-color: url('/sites/all/themes/oc_harrypotter/images/transparent_black.png');
}