

.expandable-slide {

    box-shadow: -0.5em -0.5em #978769, -1em -1em #766648;
}


/**
 * Place your custom styles here.
 */
@font-face {
    font-family: Caslon Antique Regular;
    src: url('/sites/all/themes/oc_harrypotter/fonts/CaslonAntique.ttf');
}
html, 
body {
  height: 100%;
  position: relative;
  font-family: Verdana, Geneva, sans-serif;
  color: #000;  
}
.breadcrumb{
    background-color: #000000 !important;
    
}
.breadcrumb li a
{
    color: #B4A486  !important;
}
.language-switcher-locale-url li {
    float: right;
    list-style: outside none none;
    margin-left: 0.3em;
}
#block-locale-language .block-title {
    display: none;
}
.fa-map-marker::before {
    margin-left: 5px!important;
}
.fa-2x {
    float: left;
    font-size: 1.5em!important;
}
.lead{
    font-size: 1.3em;
}
.well {
    border: none;
    background-color: transparent;
    background-image: url('/sites/all/themes/oc_harrypotter/images/transparent_brown.png');
}
.pane-glokationer, .pane-menu-tree {
    border: none;
    background-color: transparent;
    background-image: url('/sites/all/themes/oc_harrypotter/images/transparent_black.png');
    padding-bottom: 2%;
    color: #d3d3d3;
}
.field_kilde
{
    font-size: 10px;
    width:100%;
    margin-bottom: 15px;
} 
.field-name-field-title-image {
    text-align: center;
}
.pane-menu-tree li > a {
    color: #b4a486 !important;
    text-transform: uppercase;
}
.pane-glokationer .field-content > a {
    background-color: #b3a485;
    color: #000;
    font-weight: bold;
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
    display: block;
    padding: 10px 15px;
}
.pane-glokationer .field-content > a:hover {
    background-color: lightgrey;
}
.pane-glokationer .field-content > a::after {
    color: #96291d;
    content: "ï‹";
    float: right;
    display: inline-block;
    font-family: FontAwesome;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size: inherit;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-rendering: auto;
}
.icon-margin {
    margin-right: 1em;
    color: #be1e2d;
}
.icon-aktiviteter {
    color: #b4a486;
}
.icon-font {
    color: #b4a486;
}
.view-header {
    margin-left: 6em;
}
.btn-event {
  background-color: #be1e2d;
  border-color: #be1e2d;
  margin-bottom: 0.3em;
}
.btn-event .field-item.even > a, .btn.btn-event > div > a {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}
.views-field.views-field-field-event-category.btn.btn-event {
    margin-right: 1em;
}
.date-display-single {
    color: black;
    display: inline-block;
    margin-top: 0.5em;
    color: black;
}
.views-field.views-field-field-dato {
    display: inline-block;
}
#site-content
{
    width: 100%;
    min-height: 90vh;
    margin-top:10px;
}
.footer
{
   color: #B4A486  !important;
   background-color: #000000;
   min-height: 200px;
   width: 100%;
   border-top: 0px solid black;
}
.region.region-top-left,.region.region-top-right{
    padding-top:10px;
}
.region.region-top-left
{
    font-size: 20px;
}
.region-footer-left section ul li a,.region-footer-middle section ul li a,.region-footer-rigth section ul li a{
    color: #B4A486;
    text-align: center;
}
.region-footer-left section ul li a:hover,.region-footer-middle section ul li a:hover,.region-footer-rigth section ul li a:hover
{
    background-color: #000000 !important;
}
.page-header
{
    color: #B4A486;
    background-image: url('/sites/all/themes/oc_harrypotter/images/transparent_black.png');
}
/*
* Drupal style tabs and user informaton.
* write if more stylings applied.
*/
.tabs--primary
{
    background-color: #b3a485;
}
.tabs--primary a
{
    color: black;
}
#user-login , .profile{
    background-image: url('/sites/all/themes/oc_harrypotter/images/transparent_black.png');
    color: #B4A486;
    padding:10px;
}
/*
* Panels with backgrounds
*/
.pane-hp-events, .pane-view-galleries
{
    background-image: url('/sites/all/themes/oc_harrypotter/images/transparent_black.png');
}
.pane-view-galleries
{
    
    height:auto;
    color: #B4A486;
    text-align: center;
    text-transform: uppercase;
    float:left;
    width: 100%;
    padding-bottom: 25px;
}
.pane-view-galleries h2
{
    font-size: 34px;
    font-weight: bold;
}
/*
* nav info header
*/
#nav-info-header{
    border-bottom: 1px solid grey;
    height: 60px !important;
    margin-left:5px;
}
/*
* Navbar modifications
*/
#main-left-top-nav .navbar-nav
{
    float:right;
}
#main-right-top-nav .navbar-nav
{
    float:left;
}
.navbar{
    margin-bottom:0px;
    border-radius: 0 !important;
    min-height: 130px;
    color: #B4A486  !important;
    font-size: 20px;
    background-color: #000000 !important;
}
.navbar-nav li
{
    padding-top: 10px;
}
.active-trail.active {
    background-color: #b4a486 !important;
    color: black !important;
    text-decoration: none;
}
.navbar a{
    color: #B4A486  !important;
}

#absolute_center {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}

.navbar-toggle {
    z-index:0;
}
#nav_menu_right{
    float:right;
    text-align: right;
}
.dropdown-menu
{
    background-color: #000000 !important;
}
.dropdown-menu > li > a:hover {
    background-color: #000000 !important;
    background-image: none;
}
/*
* Owl carousel styling
*/
.node-frontpage-slide
{
    text-align: center;
    background-image: url('/sites/all/themes/oc_harrypotter/images/transparent_black.png');
    margin-left: 20%;
    margin-right: 20%;
    color: #B4A486 !important;
    margin-top: 10vh;
    height: 400px;
    font-size: 70px;
    font-weight: bold;
    font-family: Caslon Antique Regular;
}
.node-frontpage-slide{
    color: #B4A486 !important;
}
.slide-link p {
    color: #b4a486;
}
.slide-link h2 {
    color: #b4a486;
}
.owl-controls{
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    bottom: 25px;
    position: relative;
}
.owl-controls .owl-dots {
    display: inline-block;
    
}
 .owl-controls .owl-dots span {
    border: 1px solid red;
    border-radius: 20px;
    display: block;
    height: 12px;
    margin: 5px 7px;
    opacity: 0.5;
    width: 12px;
}
.owl-dot
{
    float:left;
}
 .owl-controls .owl-dots .active span{
    background: none repeat scroll 0 0 red;
    
 }
 #hp-read-news-frontpage-wrapper
 {
    margin-left: 33%;
    margin-right: 33%;
    text-align: center;
    margin-top: 50px;

    
 }
  #hp-read-news-block a
  {
      color: #B4A486  !important;
  }
 #hp-read-news-block
 {
    background-image: url('/sites/all/themes/oc_harrypotter/images/transparent_black.png');
    padding-top: 10px;
    width: 195px;
    height: 50px;
    text-align: center;
    display: inline-block;
    font-size: 25px;
    
 }
 .field-content.price {
    font-weight: bold;
}
 
/*
* Bootstrap modal styling
*/
.modal-header , .modal-footer , .modal-content
{
    background: #B4A486;
    color:  black;
    
}
.modal-header{
     border-bottom: 1px solid black;
}
.modal-footer{
    border-top: 1px solid black;
}
.modal-content{
    
}
#search_input_wrapper {
    display: inline-block;
    margin-top: 2.3em;
    width: 50%;
}
.views-exposed-widgets {
    float: left;
    margin-bottom: 1em;
    margin-top: 1.8em;
}
/*
* Styling for the hp program btn
*/
.oc-my-hp-program-wrap 
{
    float:right;
    
}
/*
* oc_sidr_menu styling overwrites
*/
.sidr > * , .oc_sidr_menu_footer > * , .oc_sidr_menu_header > * , .oc_sidr_child_menu li > * 
{
    color: #B4A486  !important;
}
/*
* Place2book styling overwrites
*/
.p2b_event_list_btn_wrap
{
    float:right;
}
.p2b_preloader
{
    float:right;
}
.btn-success
{
    background-color: green;
    border-color: green;
}