#view_node_more_link {
    float: left;
    margin-right: 5px;
    color: black;
}
#view_node_more_icon
{
    color: red;
}
.view {
    color:black;
    display:inline-block;
    width: 100%;
    margin: auto;  
    background-image: url('/sites/all/themes/oc_harrypotter/images/transparent_black.png'); 
}
.view .views-field-field-title-image
{
    float:left;
}
.view .views-field-field-title-image .oc_photo_kilde
{
    float:left;
}
.view .field-content img {
    
}
.view .field-content img {
    padding-right: 1em;
    //padding-top: 0.5em;
}
img {
    border: 0 none;
}
.view .views-row
{
    padding: 5px;
}
.view .views-row, .view-Nyheder .views-row {
    height: auto;
    min-height: 135px;
}
.view .views-row, .view-Nyheder .views-row {
    height: auto;
    min-height: 135px;
}
.view .views-row, .view-Nyheder .views-row {
    height: 122px;
}
.view .views-row, .view-Nyheder .views-row {
    height: 122px;
}
.view .views-row, .view-Nyheder .views-row {
    height: auto;
    min-height: 155px;
}
.view .views-row, .view-Nyheder .views-row {
    height: auto;
    min-height: 145px;
}
.view .views-row, .view-Nyheder .views-row {
    height: 135px;
}
.view .views-row, .view-Nyheder .views-row {
    padding: 0px 5px 5px 5px;
    height: auto;
    min-height: 174px;
}
.view, .view .view-content, .views-row {
    float: left;
    width: 100%;
}
.view .view-content{    
    font-family: Verdana Regular;
    padding-right: 10px;
    padding-left: 10px;
}
.view-filters {
    padding-left: 5px;
}
#edit-field-dato-value-wrapper > label {
    color: #B4A486;
}
.pane-title{
    text-align: center;
     color: #B4A486  !important;
     margin: 0px;
}
.views-row {
    background-color: #B4A486;
    border: 1px solid #B4A486;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 1em;
    min-width: 25px;
    padding: 2px;
}
.view div div .views-field-title{
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 5px;
}
.view div div .views-field-title a{
    color:black;
}
.view div div .views-field-title h2
{
    padding-bottom: 5px;
    margin: 0px;
    font-size: 25px;
    font-weight: bold;
    overflow-y: hidden;
}
.view div div .read-more
{
     background: #b4a486;
     text-align: right;
}
.oversigt-ikoner {
    margin-right: 5%;
    margin-top: 1%;
    text-align: right;
}
.view-nyheds-termer .view-content , .view-event-termer .view-content
{
    padding-top: 10px;
}
.view-event-termer .view-header a {
    float: right;
    padding-right: 10px;
    padding-top: 10px;
}
.view-display-id-hp_events_my_program .view-content
{
    padding-left: 5%;
    padding-right: 5%;
}