#view_node_more_link {
    float: left;
    margin-right: 5px;
}
#view_node_more_icon
{
    color: red;
}
.view-hp-events {
    color:black;
    display:inline-block;
    width: 100%;
    margin: auto;
    background-image: url('/sites/all/themes/oc_harrypotter/images/transparent_black.png');
}
.view-hp-events .field-content img {
    float: left;
}
.view-hp-events .field-content img {
    padding-right: 1em;
    padding-top: 0.5em;
}
img {
    border: 0 none;
}
.view-hp-events .views-row, .view-Nyheder .views-row {
    height: auto;
    min-height: 135px;
}
.view-hp-events .views-row, .view-Nyheder .views-row {
    height: auto;
    min-height: 135px;
}
.view-hp-events .views-row, .view-Nyheder .views-row {
    height: 122px;
}
.view-hp-events .views-row, .view-Nyheder .views-row {
    height: 122px;
}
.view-hp-events .views-row, .view-Nyheder .views-row {
    height: auto;
    min-height: 155px;
}
.view-hp-events .views-row, .view-Nyheder .views-row {
    height: auto;
    min-height: 145px;
}
.view-hp-events .views-row, .view-Nyheder .views-row {
    height: 135px;
}
.view-hp-events .views-row, .view-Nyheder .views-row {
    height: auto;
    min-height: 165px;
}
.view-hp-events, .view-hp-events .view-content, .views-row {
    float: left;
    width: 100%;
}
.view-hp-events .view-content{
    
    /*background-image: url('/sites/all/themes/oc_harrypotter/images/transparent_black.png');*/
    width: 100%;
    font-family: Verdana Regular;
    padding-left:15%;
    padding-top: 20px;
}
.pane-title{
    text-align: center;
     color: #B4A486  !important;
     margin: 0px;
}
.views-row {
    background-color: #B4A486;
    border: 1px solid #B4A486;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 1em;
    min-width: 25px;
    padding: 2px;
}
.active-trail{
    background: lightblue;
}
.view-hp-events div div .views-field-title{
    padding-top: 5px;
    height: 40px;
    overflow-y: hidden;
}
.view-hp-events div div .views-field-title a{
    color:black;
}
.view-hp-events div div .views-field-title h2
{
    margin: 0px;
    font-size: 25px;
    font-weight: bold;
    overflow-y: hidden;
}
.view-hp-events div div .read-more
{
     background: #b4a486;
     text-align: right;
}
/*
* view-display-id-hp_event_date_group_view
*/
.view-display-id-hp_event_date_group_view  .view-content{
    padding-left:5% !important;
}
