#view_node_more_link {
    float: left;
    margin-right: 5px;
}
#view_node_more_icon
{
    color: red;
    display: inline-block;
}
.view-hp-events .field-content img {
    float: left;
}
.view-hp-events .field-content img {
    padding-right: 1em;
    padding-top: 0.5em;
}
img {
    border: 0 none;
}
.view-hp-events .views-row, .view-Nyheder .views-row {
    height: auto;
    min-height: 135px;
}
.view-hp-events .views-row, .view-Nyheder .views-row {
    height: auto;
    min-height: 135px;
}
.view-hp-events .views-row, .view-Nyheder .views-row {
    height: 122px;
}
.view-hp-events .views-row, .view-Nyheder .views-row {
    height: 122px;
}
.view-hp-events .views-row, .view-Nyheder .views-row {
    height: auto;
    min-height: 155px;
}
.view-hp-events .views-row, .view-Nyheder .views-row {
    height: auto;
    min-height: 145px;
}
.view-hp-events .views-row, .view-Nyheder .views-row {
    height: 135px;
}
.view-hp-events .views-row, .view-Nyheder .views-row {
    height: auto;
    min-height: 165px;
}
.view-hp-events, .view-hp-events .view-content, .views-row {
    float: left;
    width: 100%;
}
.views-row {
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 1em;
    min-width: 25px;
    padding: 2px;
}
/*
* view-display-id-hp_event_date_group_view
*/
.view-display-id-hp_event_date_group_view h3
{
     color: #B4A486  !important;
}
.view-display-id-hp_event_date_group_view  .view-content{
    padding-left:5% !important;
}
