.view-display-id-hp_news_frontpage
{
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    background-image: url('/sites/all/themes/oc_harrypotter/images/transparent_black.png');
}
.view-display-id-hp_news_frontpage .view-content .views-row
{
    background-color: #B4A486;
    margin: 10px;
    padding: 5px;
    width: 334px;
    height: 400px;
    display: inline-block;
    vertical-align: top
}
.view-display-id-hp_news_frontpage .view-content .views-row .img-responsive
{
    display: inline-block !important;
}
.view-display-id-hp_news_frontpage .view-content .views-row .views-field-title .field-content a
{
    color: black;
    font-size: 25px;
    font-weight: bold;
}