/*
* HP events styling
*/
.view-hp-events-glokationer
{
     /*background-image: url('/sites/all/themes/oc_harrypotter/images/transparent_black.png');*/
     color:black;
     display:inline-block;
     width: 100%;
     margin: auto;
}
.view-hp-events-glokationer .view-content .views-row{
    
    margin-right: 4%;
    margin-bottom: 50px;
    display: inline-block;
}
.view-hp-events-glokationer .view-content .views-row .views-field
{
    min-width: 350px;
    max-width: 350px;
}
.view-hp-events-glokationer .view-content{
    
    /*background-image: url('/sites/all/themes/oc_harrypotter/images/transparent_black.png');*/
    width: 100%;
    font-family: Verdana Regular;
    padding-top: 20px;
    text-align: center;
}
.pane-title{
    text-align: center;
     color: #B4A486  !important;
     margin: 0px;
}
.view-hp-events-glokationer div div .views-field-title{
    background: #b4a486;
    padding: 10px;
    height: 65px;
    overflow-y: hidden;
}
.view-hp-events-glokationer div div .views-field-title a{
    color:black;
}
.view-hp-events-glokationer div div .views-field-title h2
{
    margin: 0px;
    font-size: 25px;
    font-weight: bold;
    overflow-y: hidden;
}
.view-hp-events-glokationer div div .read-more
{
     background: #b4a486;
     text-align: right;
}
.view-hp-events-glokationer div div .views-field-body{
    height: 100px;
    background: #b4a486;
    padding: 10px;
    font-size: 15px;
    width: 350px;
    overflow-y: hidden;
}
.pane-hp-events{
   
}
.pane-hp-events h2
{
    margin-left: 33%;
    margin-right: 33%;
}
.view-hp-events-glokationer div div .views-field-view-node
{
    text-align: right;
    background: #b4a486;
    padding-right: 10px;
    font-weight: bold;
    
}
.view-hp-events-glokationer div div .views-field-view-node a{
    color: black;
}
#view_node_more_link
{
    margin-right: 10px;
    padding-bottom: 5px;
    display: inline-block;
    color: black;
}
#view_node_more_icon
{
    color: red;
    display: inline-block;
}
.view-display-id-hp_event_date_group_view div form div .views-exposed-widgets
{
    color: #B4A486  !important;
    padding-left: 5%;
}
/*
* view-display-id-hp_event_date_group_view
*/
.view-display-id-hp_event_date_group_view h3
{
     color: #B4A486  !important;
}
.view-display-id-hp_event_date_group_view  .view-content{
    padding-left:5% !important;
}
.view-hp-events-glokationer .views-field-field-foto-kilde- {
    background: #b4a486;
    text-align: left;
    padding-left: 5px;
    font-size: 12px;
}
.view-hp-events-glokationer .view.header a
{
    margin-right: 5px;
}
.view-hp-events-glokationer .view.header a
{
 float:right;    
}