.view-display-id-hp_news_frontpage
{
    float:left;
    margin-left: 20%;
    margin-right: 20%;
}
.view-display-id-hp_news_frontpage .view-content .views-row
{
    background-color: #B4A486;
    margin: 10px;
    padding: 5px;
    width: 334px;
    height: 400px;
}