/*
* hp events list media queries.
*/
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) { 
    .view-event-termer div div .views-field-title h2
    {
        font-size: 20px;
        word-break: break-all;
    }
    #search_input_wrapper {
        width: 100%;
    }
    .view div div .views-field-title{
        width: 100%;
        display: inline-block;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}